@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'CedarvilleCursive';
  src: url('../../public/fonts/CedarvilleCursive-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DancingScript';
  src: url('../../public/fonts/Dancing-Script/DancingScript-VariableFont_wght.ttf') format('truetype');
  font-weight: 400 700;
  font-style: normal;
}




body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.important-font {
  font-family: 'DancingScript';
}